extends layout

block content
    .container
        fieldset
            form(action="/login", method="post")
                input.user_name(name="user_name", type="text", placeholder="Enter Your Username to Login", required="true")
                input.login(type="submit", value="Login")